name: Backend CI Tests

on:
  push:
    # Fix this later
    branches:
      - "backend/add_testing"
      # If you want this to ALSO run on your main branch,
      # add a line here like:
      # - "main"
      
    paths:
      - 'backend/**'
      - '.github/workflows/ci.yml'

  workflow_dispatch:

jobs:
  test:
    name: Run Pytest
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t my-app .

      - name: Run Pytest
        run: |
          docker run --rm \
            -e DATABASE_URL="sqlite:///:memory:" \
            my-app pytest tests